/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* ============= CUSTOM STYLE FOR SLICK ============== */
/*.slick-carousel {
    margin-left: -40px;
    margin-right: -40px;
}
    .slick-carousel .slick-center img {
        -moz-transform: scale(1.08);
        -ms-transform: scale(1.08);
        -o-transform: scale(1.08);
        -webkit-transform: scale(1.08);
        color: #e67e22;
        opacity: 1;
        transform: scale(1.08);
    }
@media (max-width: 768px) {
    .slick-carousel img {
        opacity: 0.8;
        transition: all 300ms ease;

    }

    .slick-carousel .slick-center.slick-current img {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        color: #e67e22;
        opacity: 1;
        transform: scale(1);
        width: 90%;
        margin: 40px auto;
        border-radius: 20px;
        border: 1px solid #feebeb;
        filter: blur(0);
    }
    .slick-carousel img {
        -moz-transform: scale(0.70);
        -ms-transform: scale(0.70);
        -o-transform: scale(0.70);
        -webkit-transform: scale(0.70);
        opacity: 0.8;
        transform: scale(0.70);
        transition: all 300ms ease;
        width: auto;
        margin: 0 38px;
        filter: blur(1.5px);
    }
}*/
.slick-carousel .slick-center img {
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    color: #e67e22;
    opacity: 1;
    transform: scale(1.08);
}
@media (max-width: 768px) {
    .slick-carousel img {
        opacity: 0.8;
        transition: all 300ms ease;
    }
    .slick-carousel img {
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        opacity: 0.8;
        transform: scale(0.95);
        transition: all 300ms ease;
        width: 100%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .slick-carousel .slick-center img {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        color: #e67e22;
        opacity: 1;
        transform: scale(1);
        /*width: 100%;*/
        border-radius: 20px;
        border: 1px solid #feebeb;
    }
}
    .slick-lazyload-error{
        border: none !important;
        width: auto !important;
        margin: 130px auto 0 auto !important;
    }
.slick-img[src*="gg-preload"] {
    border: none !important;
    width: auto !important;
    margin: 130px auto 0 auto !important;
    display: block;
    /*float: left;*/
}